body {
    background-color: #A4303F;
    padding-top: 400px;
}

.login {
    margin: 10px;
    border: 2px solid black;
    width: 10%;
    text-align: center;
    padding: 10px;
    background-color: #870058;
    margin: 0 auto;
}